/* TallyCounter.css */
.tally-counter-form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .counters-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .counter {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    width:200px;
  }
  
  .counter input[type="text"],
  .counter input[type="number"] {
    margin: 5px;
    padding: 5px;
  }
  
  .counter button {
    font-size: 1.5rem;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
  }
  
  .counter button:hover {
    background-color: #0056b3;
  }
  
  span {
    font-size: 2rem;
  }
  
  /* Additional styling for buttons */
  button.add-counter-button {
    background-color: #28a745;
  }
  
  button.add-counter-button:hover {
    background-color: #218838;
  }
  
  button.reset-button {
    background-color: #ffc107;
  }
  
  button.reset-button:hover {
    background-color: #d39e00;
  }
.counter-name{
    color: #333;
}  